nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #212121ff;
    color: #bfe063ff;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

.nav-links a:visited{
    color: #bfe063ff;

}

