@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.App {
  text-align: center;
  color: white;
  background-color: #212121;
  height: 100%;
  min-height: 100%;
  font-family:  'Roboto Mono', 'serif';
}


html { height: 100% }
body { min-height: 100%;
  background-color: #212121 }


.register-toggle {color:white}

/** { border: 1px solid red; }*/



